Current timestamp: $TIMESTAMP

Dear $EMAIL,

This email is to let you know that you are a registered user of LCFIT,
the "Lee-Carter Fitter".  LCFIT is an internet application allowing
interactive mortality forecasting using the Lee-Carter method.  The
LCFIT application


 is housed at the UC Berkeley Department of
Demography:

http://lcfit.demog.berkeley.edu

This email is also being sent because for the last few weeks, LCFIT
has been experiencing problems due to configuration changes in the
server.  Those problems have been fixed, and LCFIT is working properly
for the most part...

... except for the Male-Female component of LCFIT, which we are
working on currently.  We hope to have it running properly by the end
of next week.

We plan on sending monthly reminders of registration and news related
to LCFIT, as well as occasional service announcements like this one.

If you have any questions, comments, or concerns regarding LCFIT,
please email the administrator at $LCFITEMAIL.  If you would like to
be un-registered from LCFIT, and thus no longer receive these emails
in addition to be unable to use LCFIT, please send an email to this
address as well.

Thanks for your time and attention,

The LCFIT team.