## -*-html-*-
<DIV class='InputHMD'>
<form action='$TARGET' method='post'>  
<table>
<tr> 
	<td colspan=3><h3>Enter 5x1 (age by year) HMD Rates</h3>

		<textarea name='hmdinput' rows=25 cols=85></textarea>
	</td>
</tr>

<tr>
	<td valign='top'>
		<b>Start Year: </b><textarea name='start_year' rows=1 cols=4></textarea>
	</td>  

	<td valign='top'>
		<b>Notes: </b><textarea name='notes' rows=1 cols=20></textarea>
	</td>  

	<td valign='middle'>
		<input type='submit' name='submit' value='SUBMIT'>
	</td>
</tr>  

</table> 
##<h3> NOTE: </h3>  
</form>
</DIV>