## -*- html -*-

<DIV class='InputRatesCoherent'>
<form action='$TARGET' method='post'>  
<table border=1>
<tr> 
	<td colspan=5><h3>Enter historical POPULATION COUNTS (leave empty for no weighting in average mx, separate populations by a blank line.):</h3>
		<p>Use following age widths: 0-1, 1-4, 5-9, ..., 105-109, 110+.</p>
		<p>Years go down, ages across, American decimal notation.</p> 
		<textarea name='populations' rows=25 cols=85 > </textarea>
	</td>
</tr>
<tr> 
	<td colspan=5><h3>Enter historical MORTALITY RATES (separated populations by a blank line):</h3>
		<p>Use following age widths: 0-1, 1-4, 5-9, ..., 105-109, 110+.</p>
		<p>Years go down, ages across, American decimal notation.</p> 
		<textarea name='mortRates' rows=25 cols=85 > </textarea>
	</td>
</tr>

<tr>
	<td colspan=1 valign='top'>
		<b>Start Year: </b><textarea name='start_year' rows=1 cols=4></textarea>
	</td>  
	<td colspan=2 valign='top'>
		<b>Notes: </b><input type='text' name='notes' rows=1 cols=20>
	</td>  
	<td colspan=2 valign='top'>
		<b>Labels (space separated): </b><textarea name='labels' rows=1 cols=20></textarea>
	</td>  
</tr>

<tr>
	<td valign='top'>
		<b>Select number of stochastic runs to perform</b></br>
		<select size=1 name=$LCFIT_NUMRUNS_KEY>
		#for $numRun in $LCFIT_POSSIBLE_NUMRUNS
		<option #if $numRun == $LCFIT_DEFAULT_NUMRUNS then 'selected' else ''#> $numRun</option>
		#end for
		</select>
	</td>

	<td valign='top'>
		<b>Select number of years to project forward</b></br>
		<select size=1 name=$LCFIT_STEPS_FORWARD_KEY>
		#for $numRun in $LCFIT_POSSIBLE_STEPS_FORWARD
		<option #if $numRun == $LCFIT_DEFAULT_STEPS_FORWARD then 'selected' else ''#> $numRun</option>
		#end for
		</select>
	</td>

	<td valign='top'>
		<b>Select age for extension</b></br>
		<select size=1 name=$LCFIT_AGE_CUTOFF_KEY>
		#for $ageCutoff in $LCFIT_POSSIBLE_AGE_CUTOFFS
		<option #if $ageCutoff == $LCFIT_DEFAULT_AGE_CUTOFF then 'selected' else ''#> $ageCutoff </option>
		#end for
		</select>
	</td>

	<td valign='top'>
		<b>Select confidence interval for projection</b></br>
		<select size=1 name=$LCFIT_CONFIDENCE_INTERVAL_KEY>
		#for $conf in $LCFIT_POSSIBLE_CONFIDENCE_INTERVALS
		<option #if $conf == $LCFIT_DEFAULT_CONFIDENCE_INTERVAL then 'selected' else ''#> 
				$conf </option>
		#end for
		</select>
	</td>

	<td valign='top'>
		<b>Flatten negative bx?</b></br>
		<input type='checkbox' size=1 name=$LCFIT_FLATTEN_BX_KEY>
	</td>

</tr>
	<td valign='middle'> Submit above: <input type='submit' name='submit' value='SUBMIT'> </td>
</tr>  

</table> 
<h3> NOTE: Rows signify single year's data, columns signify age specific data, and please use 24 age categories with open interval at end.</h3>  
</form>
</DIV>
