## -*- html -*-


<DIV class='LoginError'>

<TITLE> 
	#if $TITLE then $TITLE else 'LCFIT (Untitled)'
</TITLE>

<p> You are unable to login to the LCFIT system.  Please press your
back button and try again.  If you feel you are getting this error in
error, contact the administrator. </p>

<hr>
<b>ERROR:</b> $ERROR_MESSAGE</p>
<hr>


</table> 
</form>
</DIV>