Date: $TIMESTAMP

Dear $EMAIL,

The LCFIT team has recently updated the application, and the
application error generated when running a Male-Female mortality
forecast no longer occurs.

You are receiving this email because you are a registered user of
LCFIT, the "Lee-Carter Fitter".  LCFIT is an internet application
allowing interactive mortality forecasting using the Lee-Carter
method.  The LCFIT application is housed at the UC Berkeley Department
of Demography:

http://lcfit.demog.berkeley.edu

If you have any questions, comments, or concerns regarding LCFIT,
please email the administrator at $LCFITEMAIL.  If you would like to
be un-registered from LCFIT, please send an email to this address as
well.

Thanks for your time and attention,

The LCFIT team.