Date: $TIMESTAMP

Dear $EMAIL,

The LCFIT team would just like to let you know that if you registered
for LCFIT in the last month or so, your registration has now been
activated.  If you haven't had problems with your registration please
disregard this message.

We apologize for the "spam-like" character of these emails, but we
have no other way of communicating with our users.  We will probably
send out a single email each month, but we will try to not be too
annoying.

LCFIT is an internet application allowing interactive mortality
forecasting using the Lee-Carter method.  The LCFIT application is
housed at the UC Berkeley Department of Demography:

http://lcfit.demog.berkeley.edu

If you have any questions, comments, or concerns regarding LCFIT,
please email the administrator at $LCFITEMAIL.

Thanks for your time and attention,

The LCFIT team.